/* Police */

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

/* Body police*/

body {
  font-family: "roboto", "sans-serif";
}
#bloc_page {
  max-width: 1440px;
  margin: auto;
  justify-content: center;
}

/* Header */

.header_logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "Shrikhand", "cursive";
}

#localisation {
  text-align: center;
}

/* Logo */

.header_log {
  text-align: center;
  width: 150px;
}

h1 {
  text-align: center;
}

#logolocalisation {
  width: 20px;
  font-size: 15px;
  border-radius: 10px 0px 0px 10px;
  text-align: center;
  padding: 12px;
}

/* Localisation*/

.cadrelocalisation {
  background: #d3d3d3;
}
.logolocalisation {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1rem;
}
/* Reservez, bouton explorer*/

.boutonexplorer {
  position: relative;
  display: block;
  text-decoration: none;
  width: 220px;
  height: 50px;
  margin: 30px auto;
  border-radius: 30px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0 2px 4px #636363cc;
  z-index: 1;
}

.submitrecherche {
  text-align: center;
  padding-top: 15px;
  color: white;
  font-weight: bold;
}
