/* Police */




 @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');


/* Body police*/

body
{
    font-family: "roboto", "sans-serif";
}
#bloc_page
{
    max-width: 1440px;
    margin: auto;
    justify-content: center;
}

/* Header */

.header_logo
{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-family: "Shrikhand","cursive";
}

#localisation

{
    text-align: center;
    
}

/* Logo */

.header_log

{   
    text-align: center;
    width: 150px;
  
}
   
    
h1 
{
    text-align: center;
}